<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lux.ex061broadcastreceiverbooting">

<!--    부팅완료 퍼미션-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex061BroadcastReceiverBooting">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        receiver 등록-->
<!--        부팅 완료 방송을 들으려면 듣기 위한 퍼미션 필요함.(2군데 작성 : <uses-permission>, 리시버 속성)-->
        <receiver android:name=".BootingReceiver" android:exported="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
<!--    리시버에 여러개의 액션 등록 가능-->
            </intent-filter>
        </receiver>
    </application>

</manifest>